k8s {
   namespace = 'name'
   pod = [ [volumeClaim: 'pvc-name', mountPath: '/storage3' ]]
   runAsUser = 1000
   storageClaimName = 'pvc-name'
   workDir = '/name/temp'
   pullPolicy = 'Always'
   launchDir = '/name/launch'
   projectDir = '/name/project'
   storageMountPath = '/storage2'
}

process {
   executor = 'k8s'
}
executor {
   queueSize = 5
}

process {
 shell = ['/bin/bash', '-euo', 'pipefail']
 scratch = true
 executor = 'k8s'
 errorStrategy = { task.exitStatus in [1] ?  'finish' : 'retry' }
 cpus = 1
 memory = '1GB'
 withLabel: s_mem {
      memory = {1.GB * task.attempt * (3/4)}
   }
   withLabel: m_mem {
      memory = {4.GB * task.attempt * (3/4)}
   }
   withLabel: l_mem {
      memory = {12.GB * task.attempt * (3/4)}
   }     
   withLabel: xl_mem {
      memory = {24.GB * task.attempt * (3/4)}
   }
   withLabel: xxl_mem {
      memory = {48.GB * task.attempt * (3/4)}
   }
   withLabel: xxxl_mem {
      memory = {120.GB * task.attempt * (3/4)}
   }
   withLabel: s_cpu {
      cpus = 1
   }
   withLabel: m_cpu {
      cpus = 4
   }
   withLabel: l_cpu {
      cpus = 8
   }
   withLabel: xl_cpu {
      cpus = 16
   }

}


params {
    ensemble_vcf = null
    fasta = "path/to/fasta"
    vcf2table_script = "path/to/vcf2table.py"
}

